.landing {
  &__container {
    background: url(../../../assets/images/home-bg.jpg) no-repeat center top
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @apply w-screen h-screen;
  }

  &__content {
    @apply pt-20
    px-4 md:px-16
      text-center md:text-left
      flex
      flex-col
      items-center md:items-start;

    &--title {
      h1 {
        @apply text-5xl
          text-slate-600
          uppercase
          leading-10;
      }

      @apply pb-4;
    }

    &--description {
      p {
        @apply pb-4
          leading-6;
      }

      @apply w-full lg:w-9/12
        max-w-xl
        p-6 pb-2
        mb-8
        bg-slate-200/70
        rounded-xl;
    }

    &--button {
      @apply bg-slate-400/90 hover:bg-slate-500/90
        uppercase
        tracking-wider
        py-3
        px-6
        rounded
        cursor-pointer;
    }
  }
}
